<div class="container mt-2 p-3 card">
  <div class="row">
    <div class="flat-form">
      <h1>Your car: <%= @booking.car.car_model %></h1>
      <p>Price car:<%= @booking.car.price%></p>
      <p>Total :<%= @booking.booking_amount %></p>
    </div>
  </div>
</div>
