.card-car{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

// .card-body a:hover {
//   background-color: lightgrey;
// }

.link-hover-red a:hover {
  color: red;
}

.twoColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.responsive {
  max-width: 70%;
  height: auto;
}

.right {
  max-width: 100%;
  margin-left: 28px;
}
